/* CSS Variables We can update these whenever*/
:root {
  --primary-color: #e50914;
}

/* Reset sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styling */
body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

/* Images will fit width of container */
img {
  width: 100%;
}
